In [37]:
###Naive's bayes encoding one hot encoding

###Naive's bayes

encoding
one hot encoding

yes => 1 0
no  => 0 1

monday   1 0 0 0 0

tuesday  0 1 0 0 0  
.
.
.
friday   0 0 0 0 1
label encoding

    multi label encoder

data=pd.read_csv("./weather.csv")

print (data.head())

In [38]:
from sklearn.preprocessing import LabelEncoder

In [39]:

le = LabelEncoder()

In [40]:
data = ["sunny","sunny","overcast","rainy","rainy","rainy","overcast"]

In [41]:
le.fit(data)

LabelEncoder()

In [42]:
le.transform(data)

array([2, 2, 0, 1, 1, 1, 0])

In [43]:
le.fit_transform(data)

array([2, 2, 0, 1, 1, 1, 0])

In [44]:

le.classes_

array(['overcast', 'rainy', 'sunny'], dtype='<U8')

In [45]:
le.inverse_transform([2, 2, 0, 1, 1, 1, 0])

array(['sunny', 'sunny', 'overcast', 'rainy', 'rainy', 'rainy',
       'overcast'], dtype='<U8')

In [55]:
import pandas as pd
from sklearn.naive_bayes import GaussianNB

In [47]:
dataset = pd.read_csv("./weather.csv")

In [48]:

dataset

    outlook  temperature  humidity  wind play
0         2            2         1     0   no
1         2            2         1     1   no
2         1            2         1     0  yes
3         0            1         1     0  yes
4         0            0         0     0  yes
5         0            0         0     1   no
6         1            0         0     1  yes
7         2            1         1     0   no
8         2            0         0     0  yes
9         0            1         0     0  yes
10        2            1         0     1  yes
11        1            1         1     1  yes
12        1            2         0     0  yes
13        0            1         1     1   no

In [49]:

x = dataset.loc[:,"outlook":"wind"]
y = dataset.play

In [50]:

model = GaussianNB()

In [51]:
model.fit(x,y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [56]:
testdata = [2,1,0,1]

In [57]:

model.predict([testdata])

array(['yes'], dtype='<U3')

In [58]:

model.predict_proba([testdata])

array([[0.25604866, 0.74395134]])